{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<link href="{% static '_styles_build/info/css/demographics.css' %}" rel="stylesheet" type="text/css" />

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<link href="{% static '_styles_build/info/css/recruiter.css' %}" rel="stylesheet" type="text/css" />

<title>Student Demographics | CDPC IIT Ropar</title>

{% endblock %}

{% block body_content %}
<div class="container-fluid recruiter_container">
  <div class="recruiter_box">
    <div class="row" style="margin:0; padding:0">
      <div class="recruiter_head col-12 al-center">
          Student Demographics
      </div>
    </div>
    <div class="recruiter_text">
      <div class="row">
        {% for demographic in demographics %}
        <div class="chartwrap">

          <div>
            {% if demographic.0.0 == 'Title' %}
            <h3 class="subheading theme-col">{{demographic.0.1}}</h3>
            {%endif%}
          </div>

          <div id="chartdiv{{forloop.counter}}"" class="chartdiv"> 
            <script>
              am4core.ready(function () {
                
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                
                var chart = am4core.create("chartdiv{{forloop.counter}}", am4charts.PieChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
                
                var Demographics = []
                
                "{% for demographic_data in demographic %}"
                  "{%if demographic_data.0 != 'Title' %}"
                  {

                    let data = { department: "{{ demographic_data.0 }}", strength: " {{ demographic_data.1 }}" }
                    Demographics.push(data);
                  }
                  "{%endif%}"
                "{%endfor%}"
                
                chart.data = Demographics;

                var series = chart.series.push(new am4charts.PieSeries());
                series.dataFields.category = "department";
                series.dataFields.value = "strength";
                series.labels.template.text = "{category}: {value.value}";
                //chart.logo.disabled = true;

              }); // end am4core.ready()
            </script>
          </div>


        </div>
        {%endfor%}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}