{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>Director's Message | CDPC IIT Ropar</title>
    <link href="{% static '_styles_build/no-style-links.css' %}" rel="stylesheet" type="text/css" />


	<style>
		#directors_message_heading{
			background-image: url('/static/info/images/symbol_3.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
{% endblock %}

{% block body_content %}
    <div class="container-fluid">
		<div class="row">
			<div id="directors_message_heading" class="col-md-10">
				<h1 style="margin-top:1em; margin-bottom:1em; color:white;">A Message<br> from the<br> Director's Desk</h1>
			</div>
			<div class="col-md-2" style="padding:0;">
				<img style="object-fit:cover;height:20em; width:100%;" src="{{ director.photo.url }}" alt="Director's Image" style="width:100%;">
			</div>

		</div>
		<div class="row">
			<div style="width: 90%; border:1px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-color: white; margin: 1% 5%;">
				<span style="font-size: 6rem; line-height: 4rem; color: #aaa; user-select: none; top: 2rem; position: relative;">“</span>
				<div class="col-md-12" style="background-color:white; font-size: 1rem; padding-left: 1rem;">
						{{ director.detail|linebreaks }}
				</div>
			</div>

		</div>
	</div>
{% endblock %}


