{% extends 'base.html' %} {% load static %} {% block head_content %}
<title>CDPC IIT Ropar</title>

<link href="{% static '_styles_build/info/css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock %} {% block body_content %}

<div class="home_page_container">
    <div class="custom_container">
        <div class="directors_message">
            <div class="heading">{{ director.title }}</div>
            <div style="width: 100%; border:1px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-color: white;">
				<div class="col-md-12" style="background-color:white; font-size: 1rem; padding: 1rem;">
						{{ director.brief | linebreaks }}
					<button class="btn btn-info"><a style="color: white;" href="{% url 'info:directors_message' %}">Read More...</a></button>
				</div>
			</div>
        </div>
        <!-- <div class="directors_message">
            <div class="heading">Associate Dean's Message</div>
            <p>

                <a href="{% url 'info:directors_message' %}">Read More...</a>
            </p>
        </div> -->
        <div class="directors_message">
            <div class="heading">{{ chairperson.title }}</div>
            <div style="width: 100%; border:1px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-color: white;">
				<div class="col-md-12" style="background-color:white; font-size: 1rem; padding: 1rem;">
						{{ chairperson.brief | linebreaks }}
					<button class="btn btn-info"><a style="color: white;" href="{% url 'info:tnp_hod_message' %}">Read More...</a></button>
				</div>
			</div>
        </div>
        <div class="directors_message">
            <div class="heading">{{ vicechairperson.title }}</div>
            <div style="width: 100%; border:1px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background-color: white;">
				<div class="col-md-12" style="background-color:white; font-size: 1rem; padding: 1rem;">
						{{ vicechairperson.brief | linebreaks }}
					<button class="btn btn-info"><a style="color: white;" href="{% url 'info:pd_hod_message' %}">Read More...</a></button>
				</div>
			</div>
        </div>
    </div>

    {% endblock %}
</div>