{% extends 'base.html' %} {% load static %} {% block head_content %}
<title>CDPC IIT Ropar</title>

<link href="{% static '_styles_build/info/css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock %} {% block body_content %}

<div class="home_page_container">
    <div class="custom_container">
        <div class="directors_message">
            <div class="heading">The Director's Message</div>
            <p>
                {{ directors_message | safe}}
                <br />
                <br />
                <a href="{% url 'info:directors_message' %}">Read More...</a>
            </p>
        </div>
        <!-- <div class="directors_message">
            <div class="heading">Associate Dean's Message</div>
            <p>

                <a href="{% url 'info:directors_message' %}">Read More...</a>
            </p>
        </div> -->
        <div class="directors_message">
            <div class="heading">Chairperson's Message</div>
            <p>
                {{ chairpersons_message | safe}}
                <br><br>
                <a href="{% url 'info:tnp_hod_message' %}">Read More...</a>
            </p>
        </div>
        <div class="directors_message">
            <div class="heading">Vice Chairperson's Message</div>
            <p>
                {{ vicechairmans_message | safe}}
                <br><br>
                <a href="{% url 'info:pd_hod_message' %}">Read More...</a>
            </p>
        </div>
    </div>

    {% endblock %}
</div>