{% extends 'base.html' %} {% load static %} {% block head_content %}
<title>CDPC IIT Ropar</title>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="../favicon.ico" />
<link
  href="{% static '_styles_build/info/css/placement_stats.css' %}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block body_content %}

<div class="placement_stats_wrapper">
  <div class="heading">Placement Statistics</div>
  

  <div class="table-section">
    {% for item in allItems %}

    <div class="subheading">{{item.0.0}}</div>
    <br/>
    <div class="table-wrapper">
      <table>
        <tr id="header">
          <th>Records</th>
          {% for branch in item.0 %}
            {% if forloop.counter == 1 %}
            {% else %}
            <th>{{ branch }}</th>
            {% endif %}
          {% endfor %}
        </tr>

        {% for row in item %}
        {%if forloop.counter == 1%}
        {% else %}
          <tr>
            <td>{{row.0}}</td>

            {% for data in row %}
            {%if forloop.counter == 1%}
            {% else %}
            <th>
              {{data}}
            </th>
            {% endif %}
            {% endfor %}

          </tr>
        {% endif %}
        {% endfor %}


      </table>
    </div>
    <br /><br />
    {% endfor %}
  </div>

</div>
{% endblock %}
